body {
    margin: 0;
    padding: 0;
    background: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    /* font-family: 'Press Start 2P', cursive;
    font-family: 'Concert One', cursive;
    font-family: 'Baloo Chettan', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Grenze', serif; */
}

.contenedor {
    width: 60vw;
}

.nivel {
    display: flex;
    justify-content: space-between;
}

.nivel_actual {
    font-family: 'Concert One', cursive;
    font-size: 30px;
    background: #ffffff;
    margin: 0 0 80px;
    padding: 2px 10px;
    border-radius: 5px;
}

.gameboard {
    width: 100vw;
    height: 100vh;
    max-width: 60vh;
    max-height: 60vh;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 35px 18px #000533;
    margin: 0 auto;
}

.color {
    width: 50%;
    height: 50%;
    /* border: 1px solid #001048; */
}

.celeste {
    background: #068dd4;
}

.violeta {
    background: #8e44ad;
}

.naranja {
    background: #e67e22;
}

.verde {
    background: #27ae60;
}

.left {
    float: left;
}

.right {
    float: right;
}

.btn-start {
    font-family: 'Lobster', cursive;
    position: absolute;
    background: rgb(226, 226, 235);
    width: 400px;
    height: 80px;
    top: calc(55% - 10px);
    left: calc(50% - 200px);
    font-size: 36px;
}

.hide {
    display: none;
}

.celeste.light {
    background: #7ed6df;
}

.violeta.light {
    background: #d799f1;
}

.naranja.light {
    background: #fdcb6e;
}

.verde.light {
    background: #7bed9f;
}